{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--inner banner-->
{% if messages %}
<div class="alert alert-success text-center" id="alert-msg">
  {% for message in messages %}
  <h3>{{ message }}</h3>
  {% endfor %}
</div>
{% endif %}

<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
     
      </div>
 
    </div>
  </div>
</div>

<section class="appoinment section">
<div class="container">
  <form method="post" >
        {% csrf_token %}
        <h1>Write Medical Report</h1>
        <h3>Information about the Patient's Visit:</h3>
        <div class="patient-info">
            <table class="table table-bordered">
                <tr>
                    <td><strong>First Name:</strong></td>
                    <td>{{ patient.first_name }}</td>
                </tr>
                <tr>
                    <td><strong>Last Name:</strong></td>
                    <td>{{ patient.last_name }}</td>
                </tr>
                <tr>
                    <td><strong>ID Number:</strong></td>
                    <td>{{ patient.id_number }}</td>
                </tr>
                <tr>
                    <td><strong>Symptoms:</strong></td>
                    <td>{{ patient.symptoms.all|join:", " }}</td>
                </tr>
                <tr>
                    <td><strong>Ticket Number:</strong></td>
                    <td>{{ patient.spot_number }}</td>
                </tr>
            </table>
        </div>
        <p>Information about the Doctor:</p>
        <div class="form-group">
            <label for="doctor">Doctor</label>
            {{ form.doctor }}
        </div>
       
        <p>Information about the Patient's Diagnose Report:</p>
        <div class="form-group">
            <label for="diagnosis">Diagnosis</label>
            {{ form.diagnosis }}
        </div>
        <div class="form-group">
            <label for="prescription">Prescription</label>
            {{ form.prescription }}
        </div>
        <div class="form-group">
            <label for="service">Service</label>
            {{ form.service }}
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            {{ form.date }}
        </div>
        <div class="form-group">
            <label for="referrals">Referrals</label>
            {{ form.referrals }}
        </div>
        <div class="form-group">
            <label for="further_examination">Further Examination</label>
            {{ form.further_examination }}
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
</section>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  


{% endblock content %}