{% extends 'base.html' %}
{% block content %}
{% load static %}

<body id="top">
 <!-- Tabs navs -->
 <section id="tabs">
	<div class="container">
		<h6 class="section-title h1">Editor's Side</h6>
		<div class="row">
			<div class="col-xs-12 ">
				<nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Add Category</a>
						<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Add Article</a>
					</div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						<p>Category</p>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Name</th>
								</tr>
							</thead>
							<tbody>
								{% for category in categories %}
									<tr>
										<td>{{ category.name }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						

							<form id="appointment-form" class="appointment-form" method="post" action="{% url 'editor' %}">
								{% csrf_token %}
								
								{{ category_form.non_field_errors }}
								
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label for="{{  category_form.name.id_for_label }}">Name</label>
											{{  category_form.name }}
											{% if  category_form.name.errors %}
												<span class="text-danger">
													{% for error in  category_form.name.errors %}
														{{ error }}
													{% endfor %}
												</span>
											{% endif %}
										</div>
									</div>
								</div>
										
								<button type="submit" class="btn btn-main btn-round-full">Add<i class="icofont-simple-right ml-2"></i></button>
							</form>
							






						</table>


					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
						
						<form id="article-form" class="appointment-form" method="post" action="{% url 'editor' %}" enctype="multipart/form-data">
							{% csrf_token %}
							
							{{ form.non_field_errors }}
							
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label for="{{ article_form.title.id_for_label }}">Title</label>
										{{article_form.title }}
										{% if article_form.title.errors %}
											<span class="text-danger">
												{% for error in article_form.title.errors %}
													{{ error }}
												{% endfor %}
											</span>
										{% endif %}
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label for="{{ article_form.category.id_for_label }}">Category</label>
										<select name="{{ article_form.category.name }}" class="form-control" id="{{ article_form.category.id_for_label }}">
											<option value="" disabled selected>Select a Category</option>
											{% for category in categories %}
												<option value="{{ category.id }}">{{ category.name }}</option>
											{% endfor %}
										</select>
										{% if article_form.category.errors %}
											<span class="text-danger">
												{% for error in article_form.category.errors %}
													{{ error }}
												{% endfor %}
											</span>
										{% endif %}
									</div>
								</div>
								
							</div>
							
							<div class="form-group">
								<label for="{{ article_form.content.id_for_label }}">Content</label>
								{{ article_form.content }}
								{% if article_form.content.errors %}
									<span class="text-danger">
										{% for error in article_form.content.errors %}
											{{ error }}
										{% endfor %}
									</span>
								{% endif %}
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label for="{{ article_form.title.id_for_label }}">Title</label>
									{{article_form.author }}
									{% if article_form.title.errors %}
										<span class="text-danger">
											{% for error in article_form.title.errors %}
												{{ error }}
											{% endfor %}
										</span>
									{% endif %}
								</div>
							</div>
							<div class="form-group">
								<label for="{{ article_form.picture.id_for_label }}">Picture</label>
								{{ article_form.picture }}
								{% if article_form.picture.errors %}
									<span class="text-danger">
										{% for error in article_form.picture.errors %}
											{{ error }}
										{% endfor %}
									</span>
								{% endif %}
							</div>
							
							<button type="submit" name="article_form" class="btn btn-main btn-round-full">Add <i class="icofont-simple-right ml-2"></i></button>
						</form>
						
					</div>
					
				</div>
			
			</div>
		</div>
	</div>
</section>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  {% endblock content %}
