{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <!-- Include required libraries -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    </head>
    <body>
        /ghj
        <div id="ambulance-request-plot"></div>
    <script>
        fetch('/ambulance/ambulance_request_count', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(data => {
            const hours = data.map(entry => entry.hour);
            const counts = data.map(entry => entry.count);
            
            const trace = {
                x: hours,
                y: counts,
                type: 'bar'
            };
            
            const layout = {
                title: 'Ambulance Requests Over Time',
                xaxis: {
                    title: 'Time (Hour)'
                },
                yaxis: {
                    title: 'Request Count'
                }
            };
            
            Plotly.newPlot('ambulance-request-plot', [trace], layout);
        });
    </script>
    </body>

    
{% endblock %}