{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
  a.ghost {
	border-radius: 20px;
	border: 1px solid #000000;
	background-color: #2bdfff;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;

	border-color: #FFFFFF;
}
</style>
<section class="page-title bg-1">
	<div class="overlay"></div>
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="block text-center">
			<span class="text-white">Book your Ambulance</span>
			<h1 class="text-capitalize mb-5 text-lg">Emergency 24/7 Ambulance</h1>
  
		
		  </div>
		</div>
	  </div>
	</div>
  </section>
  <section class="appoinment section">
	<div class="container">
	  <div class="row">
		<div class="col-lg-4">
			<div class="mt-3">
			  <div class="feature-icon mb-3">
				<i class="icofont-support text-lg"></i>
			  </div>
			   <span class="h3">Call for an Emergency Service!</span>
				<h2 class="text-color mt-3">911 </h2>
			</div>
		</div>
		<div class="col-lg-8" >
			<div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
			 <h3 class="mb-2 title-color">We have connected You To The Nearest Hospital</h3>
			 <p class="mb-4">Please note that the use of this services is strictly for emegency situations, if found guilty of abusing this service you will be liable to pay a fine and criminal charges opened against you.</p>

{% if hospital %}
    <p>Name: {{ hospital.name }}</p>
    <!-- <p>Address: {{ hospital.address }}</p>
    <p>Phone: {{ hospital.phone }}</p> -->
    <p>Distance: {{ distance }} KM</p>
{% else %}
    <p>No hospitals found.</p>
{% endif %}



<br>

<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAL-hrFKfJN7iFXNhahl7fQD0n0s4d2ihg&q={{hospital_latitude}},{{hospital_longitude}}">
</iframe>

<div class="form-group">
<a class="ghost" href="{% url 'ambulanceRequest' %}">Back to Ambulance Request</a>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}