{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--inner banner-->
{% if messages %}
<div class="alert alert-success text-center" id="alert-msg">
  {% for message in messages %}
  <h3>{{ message }}</h3>
  {% endfor %}
</div>
{% endif %}

<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1>View Appointments</h1>
      </div>
 
    </div>
  </div>
</div>


<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Service</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Note</th>
                <th> Action</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.first_name }} {{ appointment.last_name }}</td>
                <td>{{ appointment.service }}</td>
                <td>{{ appointment.phone }}</td>
                <td>{{ appointment.email }}</td>
                <td>{{ appointment.note  }}</td>
                <td> <a class="btn btn-success"  href="{% url 'appointment_details' appointment.request_number %} ">Attend </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




{% endblock content %}